// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #C3BB7E;
$secondary: #DAD2BC;
$dark: #003262;
$black: #000229;
$font-family-sans-serif: "DM Sans", sans-serif !default;
$font-family-serif: "Gloock", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here