@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 500px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.hero-scene{
    position: relative;
    margin-bottom: 20px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/heroscene.jpg);
        background-size: cover;
        filter: brightness(0.5);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form-label{
    color: $primary;
    font-weight: bold;
}



footer.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}